<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Add New Blog</title>
</head>
<body>
    <%- include('./partials/nav') %>
    <!-- <%= JSON.stringify(user) %> -->
    <!-- <p class="h2 mt-3 pl-10">Add a new Blog</p> -->
    <div class="container mt-4">
        <form action="/blog" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="coverImage" class="form-label">Cover Image</label>
                <input type="file" class="form-control" id="coverImage" aria-describedby="coverImage" name="coverImageURL">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" aria-describedby="title" name="title">
            </div>
            <div class="mb-3">
                <label for="body">Body</label> 
                <textarea class="form-control" id="body" name="body"></textarea>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary" type="submit">Post</button>
            </div>
        </form>
    </div>


    <%- include('./partials/scripts') %>
    <!-- <h1>Home Page</h1> -->

</body>
</html>