<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Home Page</title>
</head>
<body>
    <%- include('./partials/scripts') %>
    <%- include('./partials/nav') %>
    <!-- <h1>Home Page</h1> -->

</body>
</html>